@import './variables';

body { 
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color:$dark;
}

// cart 
nav li:last-child a{
    background-color: $primary;
    &:hover{
        background-color:$primary-hover;
    }
}
// nav list 
nav li a{
    transition: all $smooth;
    &:hover{
        color:$primary;
    }
}
section.hero{
    background-color: $secondary;
}
.size{
    background: $secondary;
}

.add-to-cart{

    border:2px solid $primary;
    transition :$smooth;
    &:hover{
        background: $primary;
        border-color:$pure;
        color: $pure;
    }
}